<div class="post--section">
  <div class="read--me">
    <%= link_to posts_path, class: "mdl-navigation__link mdl-color-text--grey-500" do %>
      <i class="material-icons iconImage" style="display: inline-block;">&#xE317;</i>
      <span>All Post</span>
    <% end %>
    <h1 class="mdl-typography--display-4"><%= @post.title.titleize %></h1>
    <h6 class="mdl-typography--subhead-color-contrast">
      <%= time_ago_in_words(@post.created_at) %> Ago.
      <% if user_signed_in? %>
        | <%= link_to 'Edit', edit_post_path(@post), class: 'mdl-navigation__link mdl-color-text--black' %>
        | <%= link_to 'Delete', post_path(@post), method: :delete, class: 'mdl-navigation__link mdl-color-text--black' %>
      <% end %>
    </h6>
    <p class="mdl-typography--body-1"><%= @post.body %></p>

    <div class="comments">
      <h4><%= @post.comments.count %> Comments</h4>
      <%= render @post.comments %>

      <h3>Add a comment</h3>
      <%= render 'comments/form' %>
    </div>
  </div>
</div>
